absl-py==2.4.0
accelerate==1.12.0
addict==2.4.0
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
alembic==1.18.4
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
altair==5.5.0
annotated-doc==0.0.4
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyascii==0.3.3
anyio==3.7.1
asteroid-filterbanks==0.4.0
asttokens==3.0.1
async-timeout==5.0.1
attrdict==2.0.1
attrs==25.4.0
audioread==3.1.0
av==12.3.0
babel==2.18.0
bangla==0.0.5
blis==0.7.11
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.7
budoux==0.8.1
catalogue==2.0.10
certifi==2026.2.25
cffi==2.0.0
chardet==7.4.0.post2
charset-normalizer==3.4.4
click==8.3.1
cloudpathlib==0.23.0
cloudpickle==3.1.2
cn2an==0.5.23
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.10.1
confection==0.1.5
contourpy==1.3.2
coqpit==0.0.17
coqui-tts==0.24.2
coqui-tts-trainer==0.1.4
crcmod==1.7
cryptography==46.0.6
csvw==3.7.0
ctranslate2==4.7.1
curated-tokenizers==0.0.9
curated-transformers==0.1.1
cutlet==0.5.0
cycler==0.12.1
cymem==2.0.13
Cython==3.2.4
datasets==4.6.0
dateparser==1.1.8
decorator==5.2.1
demucs==4.0.1
Device-SMI==0.5.3
dill==0.4.0
Distance==0.1.3
dlinfo==2.0.0
dnspython==2.8.0
docopt==0.6.2
dora_search==0.1.12
editdistance==0.8.1
einops==0.8.2
einx==0.4.3
ema-pytorch==0.7.9
email-validator==2.3.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
encodec==0.1.1
espeakng-loader==0.2.4
exceptiongroup==1.3.1
executing==2.2.1
fast-langdetect==1.0.0
fastapi==0.112.1
fastapi-cli==0.0.24
fastapi-cloud-cli==0.15.1
fastar==0.9.0
faster-whisper==1.0.3
fasttext-predict==0.9.2.4
ffmpeg-python==0.2.0
ffmpy==1.0.0
filelock==3.24.3
fire==0.7.1
flatbuffers==25.12.19
fonttools==4.61.1
frozendict==2.4.7
frozenlist==1.8.0
fsspec==2026.2.0
fugashi==1.4.0
funasr==1.0.27
future==1.0.0
g2p-en==2.1.0
g2pk2==0.0.3
g2pkk==0.1.2
gast==0.7.0
googleapis-common-protos==1.72.0
GPTQModel==5.7.0
gradio==4.24.0
gradio_client==0.14.0
greenlet==3.3.2
grpcio==1.78.1
gruut==2.4.0
gruut-ipa==0.13.0
gruut_lang_de==2.0.1
gruut_lang_en==2.0.1
gruut_lang_es==2.0.1
gruut_lang_fr==2.0.2
h11==0.16.0
hangul-romanize==0.1.0
hf-xet==1.4.3
hf_transfer==0.1.9
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
huggingface_hub==0.36.2
humanfriendly==10.0
hydra-core==1.3.2
HyperPyYAML==1.2.3
idna==3.11
importlib_metadata==8.7.1
importlib_resources==6.5.2
inflect==7.5.0
isodate==0.7.2
jaconv==0.5.0
jamo==0.4.1
jedi==0.19.2
jieba==0.42.1
jieba_fast==0.53
Jinja2==3.1.6
jmespath==0.10.0
joblib==1.5.3
jsonlines==1.2.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
julius==0.2.7
kaldiio==2.18.1
kernels==0.12.1
kiwisolver==1.4.9
ko-pron==1.3
kokoro==0.9.4
lameenc==1.8.1
langcodes==3.5.1
language-tags==1.2.0
lazy_loader==0.4
librosa==0.10.2
lightning==2.6.1
lightning-utilities==0.15.3
llvmlite==0.39.1
LogBar==0.2.1
loguru==0.7.3
Mako==1.3.10
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==2.1.5
matplotlib==3.10.8
matplotlib-inline==0.2.1
maturin==1.12.4
mdurl==0.1.2
mecab-python3==1.0.12
misaki==0.9.4
modelscope==1.10.0
mojimoji==0.0.13
monotonic_align @ git+https://github.com/resemble-ai/monotonic_align.git@c6e5e6cb19882164027eb6e35118e841eed9298e
more-itertools==10.8.0
MouseInfo==0.1.3
mpmath==1.3.0
msgpack==1.1.2
mss==10.2.0
multidict==6.7.1
multiprocess==0.70.18
munch==4.0.0
murmurhash==1.0.15
narwhals==2.18.1
networkx==3.4.2
nltk==3.9.3
num2words==0.5.14
numba==0.56.4
numpy==2.2.6
omegaconf==2.3.0
onnxruntime==1.23.2
onnxruntime-gpu==1.23.2
openai-whisper==20250625
OpenCC==1.2.0
opencv-python==4.13.0.92
opentelemetry-api==1.39.1
opentelemetry-exporter-otlp==1.39.1
opentelemetry-exporter-otlp-proto-common==1.39.1
opentelemetry-exporter-otlp-proto-grpc==1.39.1
opentelemetry-exporter-otlp-proto-http==1.39.1
opentelemetry-proto==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
openunmix==1.3.0
optuna==4.7.0
orjson==3.11.7
oss2==2.19.1
packaging==26.0
pandas==2.3.3
parso==0.8.6
peft==0.17.1
phonemizer-fork==3.3.2
pillow==12.2.0
platformdirs==4.9.2
pooch==1.9.0
preshed==3.0.12
primePy==1.3
proces==0.1.7
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==6.33.5
psutil==7.2.2
pure_eval==0.2.3
pyannote-audio==4.0.4
pyannote-core==6.0.1
pyannote-database==6.1.1
pyannote-metrics==4.0.0
pyannote-pipeline==4.0.0
pyannoteai-sdk==0.4.0
pyarrow==23.0.1
pycparser==3.0
pycryptodome==3.23.0
pydantic==2.10.6
pydantic-extra-types==2.11.2
pydantic-settings==2.13.1
pydantic_core==2.27.2
PyDirectInput==1.0.4
pydub==0.25.1
PyGetWindow==0.0.9
Pygments==2.19.2
PyMsgBox==2.0.1
pynndescent==0.6.0
pyopenjtalk==0.4.1
pyparsing==3.3.2
PyPcre==0.2.9
pyperclip==1.11.0
pypinyin==0.55.0
pyreadline3==3.5.4
PyRect==0.2.0
pysbd==0.3.4
PyScreeze==1.0.1
python-crfsuite==0.9.12
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-fire==0.1.0
python-multipart==0.0.22
pytorch-lightning==2.6.1
pytorch-metric-learning==2.9.0
pytorch-wpe==0.0.1
pytweening==1.2.0
pytz==2025.2
PyYAML==6.0.3
rdflib==7.6.0
referencing==0.37.0
regex==2026.2.19
requests==2.33.1
resampy==0.4.3
retrying==1.4.2
rfc3986==1.5.0
rich==14.3.3
rich-toolkit==0.19.7
rignore==0.7.6
robust-downloader==0.0.2
rotary-embedding-torch==0.8.9
rpds-py==0.30.0
ruamel.yaml==0.18.17
ruamel.yaml.clib==0.2.15
ruff==0.15.5
safetensors==0.7.0
scikit-learn==1.7.2
scipy==1.13.1
segments==2.3.0
semantic-version==2.10.0
sentencepiece==0.2.1
sentry-sdk==2.57.0
shellingham==1.5.4
simplejson==3.20.2
six==1.17.0
smart_open==7.5.1
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.5.5
soundfile==0.13.1
soxr==1.0.0
spacy==3.7.5
spacy-curated-transformers==0.3.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
split-lang==2.1.1
SQLAlchemy==2.0.47
srsly==2.5.2
stack-data==0.6.3
starlette==0.38.6
submitit==1.5.4
SudachiDict-core==20260116
SudachiPy==0.6.10
sympy==1.13.1
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.5
termcolor==3.3.0
thinc==8.2.5
threadpoolctl==3.6.0
tiktoken==0.12.0
ToJyutping==3.2.0
TokeNicer==0.0.6
tokenizers==0.13.3
tomli==2.4.0
tomlkit==0.12.0
torch==2.5.1+cu121
torch-audiomentations==0.12.0
torch-complex==0.4.4
torch_pitch_shift==1.2.5
torchao==0.16.0
torchaudio==2.5.1+cu121
torchcodec==0.10.0
torchmetrics==1.5.0
torchvision==0.20.1+cu121
tqdm==4.67.3
traitlets==5.14.3
transformers==4.33.0
treetable==0.2.6
triton-windows==3.6.0.post25
typeguard==4.5.1
typer==0.24.1
typer-slim==0.24.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
umap-learn==0.5.11
unidic-lite==1.0.8
uritemplate==4.2.0
urllib3==2.6.3
uvicorn==0.41.0
wasabi==1.1.3
watchfiles==1.1.1
wcwidth==0.6.0
weasel==0.4.3
websockets==11.0.3
Werkzeug==3.1.6
win32_setctime==1.2.0
wordsegment==1.3.1
wrapt==2.1.1
x-transformers==2.17.9
xxhash==3.6.0
yacs==0.1.8
yapf==0.43.0
yarl==1.22.0
zipp==3.23.0
